
body {
 background: linear-gradient(to right, #0acdfeb7 0%, #495bffad 100%);
  /* margin: 0;
  padding: 0; */
  font-family: 'Roboto', Arial, sans-serif;

  height: 190%;
}

.App {
  text-align: center;
  /* margin: 5% auto; */
  /* max-width: 800px; */
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  /* border: 2px solid white; */
  height: 900px;
  background: linear-gradient(to right, #0acdfeb7 0%, #495bffad 100%);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #eff2f6;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #00f6c0;
}

form {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 80%;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
 
}

input:focus {
  border-color: #1e90ff;
  outline: none;
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
}

button {
  padding: 15px 30px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #104e8b;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  /* background-color: #d566d2; */
  background: radial-gradient(circle at 50.3% 44.5%, rgb(176, 105, 214) 0%, rgb(145, 59, 134) 100.2%);;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  transition: all 0.3s ease-in-out;
}

li:hover {
  background-color: #e9ecef;
}
p,h1{
  color: white;
}

.vision{
  padding-top: 30px; 
        
  text-align: start;
  font-size:30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  color: white;
}
.list{
  background-color: rgb(153, 228, 219);
  width: 50%;
  margin-left: 25%;

  border-radius: 5%;
}
.active button {
    background: radial-gradient(circle at 50.3% 44.5%, rgb(176, 105, 214) 0%, rgb(145, 59, 134) 100.2%);;
}